# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/

# Django
*.sqlite3
backend/staticfiles/
backend/media/

# Environment variables
.env
.env.*

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node - later
node_modules/

# Logs
*.log
logs/